body {
	background: url("../img/prod/graybg.png");
}
.pull-right {
	margin-top: 5px;
}
.clear {
	clear:both;
}
.footer {
	margin: 15px auto;
	text-align: center;
	color: #ddd;
}
.navbar-inner {	
	border-radius: 0px;
	background: white;
}
